# IC Data Grouping and Aggregation of Variables

## This notebook contains the following topics:
### 01. Importing libraries and files
### 02. Data Grouping and Aggregation
##### - creating a loyalty flag for existing customers using the transform() and loc() functions
##### - difference between the spending habits of the three types of customers identified
##### - creating a spending flag for each user
##### - creating an order frequency flag that marks the regularity of a user’s ordering behavior
### 03. Exporting dataframe as pickle file

# 01. Importing libraries and files

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create folder path
path = r'C:\Users\ezrela\Documents\CareerFoundry\DD-MM-2020 Instacart Basket Analysis'

In [3]:
# Import orders_products_updated.pkl as ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_updated_4_7.pkl'))

In [4]:
# Dropping 'Unnamed:0'
ords_prods_merge.drop(columns = 'Unnamed: 0')

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order,product_id,add_to_cart_order,reordered,_merge 1,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,False,43553,2,1,both,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders
32404855,31526,202557,18,5,11,3.0,False,43553,2,1,both,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders
32404856,758936,203436,1,2,7,NaN,True,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Regularly busy,Average orders
32404857,2745165,203436,2,3,5,15.0,False,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Least busy 2,Fewest orders
32404858,3093936,205420,1,4,14,NaN,True,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Least busy,Least busy 1,Most orders

In [5]:
# Checking imported data
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_user_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge 1',
       'Unnamed: 0', 'product_name', 'aisle_id', 'department_id', 'prices',
       '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day'],
      dtype='object')

In [6]:
# Checking imported data
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order,product_id,add_to_cart_order,reordered,...,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders

# 02. Data Grouping and Aggregation

### In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [7]:
# Grouping and aggregating data
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

##### The subset, which is a record of the first 1000000 rows, has only 8 department_ids included in the dataframe, which is a fraction of the total number of department_ids, as can be seen in the entire dataframe having 21 department_ids. Also, the mean values of the deparment_ids present in both dataframes are different because while only the order_numbers in the first 1000000 rows for respective department_ids are considered in the subset, all the order_numbers for a respective department_id are considered in the entire dataframe.

### Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [8]:
# Creating new column 'max_order' by aggregating Data with transform()
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
#Removing restriction to the number of rows to be printed
pd.options.display.max_rows = None

In [10]:
# Result of the transform() function
ords_prods_merge.head(100)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22
15,2293453,19,2,5,14,6.0,False,196,3,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,5,6,12,8.0,False,196,15,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
17,532817,19,7,4,17,6.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders,9
18,1573906,21,10,3,10,6.0,False,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,33
19,1593000,31,10,3,8,7.0,False,196,17,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,20
20,2231262,31,17,3,11,8.0,False,196,14,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,20
21,2580647,43,6,4,16,4.0,False,196,9,0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,11
22,2187180,43,9,4,12,3.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,11
23,2497897,52,1,1,9,NaN,True,196,4,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27
24,1318871,52,2,1,10,7.0,False,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27
25,1261384,52,3,1,10,7.0,False,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27
26,580568,52,5,2,10,8.0,False,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
27,2428073,52,7,2,7,8.0,False,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,27
28,342306,52,9,1,11,7.0,False,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27
29,1520353,52,10,2,10,8.0,False,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
30,2542086,52,11,2,9,7.0,False,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
31,944694,52,12,1,16,6.0,False,196,7,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27
32,1268191,52,15,2,11,8.0,False,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
33,1122089,52,17,2,10,6.0,False,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
34,1498922,52,18,2,10,14.0,False,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
35,180919,52,19,3,8,8.0,False,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,27
36,2695875,52,21,5,10,30.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27
37,3205960,67,1,3,11,NaN,True,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24
38,970922,67,2,1,15,5.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
39,596585,67,3,1,13,7.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
40,2037087,67,4,2,9,8.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
41,2474111,67,5,3,14,8.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24
42,1568481,67,6,3,12,7.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24
43,2048527,67,8,2,11,7.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
44,2389031,67,9,2,14,7.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
45,2378562,67,10,1,10,6.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
46,1515698,67,11,1,11,7.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
47,1928050,67,12,2,12,8.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
48,1949274,67,13,1,10,6.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
49,551869,67,14,1,9,7.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
50,768572,67,16,4,10,9.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,24
51,150528,67,18,5,16,4.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
52,29758,67,19,0,14,9.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest day 1,Most orders,24
53,1558976,67,21,1,9,5.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
54,863974,67,22,1,11,14.0,False,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
55,2308399,67,23,1,14,14.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24
56,2759128,81,3,1,9,14.0,False,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,7
57,1812985,81,5,2,20,30.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,7
58,1889835,82,1,3,15,NaN,True,196,6,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,19
59,499460,82,3,5,10,5.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19
60,2728456,82,4,0,11,16.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest day 1,Most orders,19
61,2653743,82,6,4,9,13.0,False,196,5,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,19
62,1358880,82,9,1,10,30.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,19
63,343588,82,10,2,11,1.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19
64,3034663,82,15,2,11,12.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19
65,147262,82,18,1,13,7.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,19
66,3144004,82,19,2,15,8.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,19
67,2126069,98,3,0,9,25.0,False,196,7,0,...,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest day 1,Most orders,14
68,2210120,98,7,5,14,5.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14
69,681011,98,9,3,9,30.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,14
70,2846344,98,11,4,13,15.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,14
71,747431,98,12,6,13,30.0,False,196,4,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,14
72,2383054,98,13,4,11,30.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,14
73,1993729,98,14,5,8,8.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,14
74,1403849,109,3,3,17,9.0,False,196,5,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,6
75,520620,120,1,3,11,NaN,True,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,3
76,3273029,120,3,2,8,19.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3
77,1861943,185,2,1,12,25.0,False,196,10,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,6
78,2040988,195,1,1,14,NaN,True,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,58
79,1680569,195,8,1,9,4.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,58
80,276171,195,19,5,11,3.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58
81,2744976,195,22,5,10,7.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58
82,2781919,195,25,1,14,4.0,False,196,1,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,58
83,1738718,195,31,2,8,4.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,58
84,3058369,195,34,3,10,6.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,58
85,1485596,195,37,2,15,0.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58
86,417035,195,40,3,16,2.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,58
87,1615297,195,47,5,10,2.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,58
88,1765587,195,52,3,12,2.0,False,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,58
89,745908,195,57,4,11,3.0,False,196,3,1,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,58
90,2505656,222,17,2,12,1.0,False,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,70
91,3268370,222,38,5,15,1.0,False,196,6,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,70
92,2016711,290,9,5,19,6.0,False,196,8,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,51
93,2706088,290,28,6,10,7.0,False,196,16,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,51
94,1952286,331,6,5,16,30.0,False,196,8,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,8
95,3226575,360,1,5,12,NaN,True,196,1,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3
96,1469869,377,3,5,17,3.0,False,196,9,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3
97,1927023,387,2,4,10,22.0,False,196,3,0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,8
98,858092,420,4,1,19,30.0,False,196,2,0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Average orders,22
99,119314,420,5,3,19,16.0,False,196,2,1,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,22

In [11]:
# Creating loyalty flag column with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
# Checking to see frequency of respective loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

### The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [13]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,10,New customer

In [14]:
# Checking the basic statistics of prices for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

##### Looking at the basic statistics (mean, min and max) for the prices of products bought by the different categories of customers, there is no significant difference in the prices. The min and max prices are the same for all the customers. The only difference is seen in the mean, and the difference is not so much (0.1 - 0.3)

### The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
#### - If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
#### - If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
# Creating new column 'mean_prices' by grouping users and aggregating prices with transform()
ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
# Checking output
ords_prods_merge.head(50)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,False,196,3,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,False,196,15,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy 1,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,False,196,2,0,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,False,196,17,0,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,20,Regular customer,8.137793
20,2231262,31,17,3,11,8.0,False,196,14,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,20,Regular customer,8.137793
21,2580647,43,6,4,16,4.0,False,196,9,0,...,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,11,Regular customer,7.444898
22,2187180,43,9,4,12,3.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy 1,Most orders,11,Regular customer,7.444898
23,2497897,52,1,1,9,NaN,True,196,4,0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287
24,1318871,52,2,1,10,7.0,False,196,5,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287
25,1261384,52,3,1,10,7.0,False,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287
26,580568,52,5,2,10,8.0,False,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
27,2428073,52,7,2,7,8.0,False,196,5,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287
28,342306,52,9,1,11,7.0,False,196,5,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287
29,1520353,52,10,2,10,8.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
30,2542086,52,11,2,9,7.0,False,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
31,944694,52,12,1,16,6.0,False,196,7,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287
32,1268191,52,15,2,11,8.0,False,196,3,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
33,1122089,52,17,2,10,6.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
34,1498922,52,18,2,10,14.0,False,196,6,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
35,180919,52,19,3,8,8.0,False,196,4,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Average orders,27,Regular customer,6.356287
36,2695875,52,21,5,10,30.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287
37,3205960,67,1,3,11,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24,Regular customer,7.656790
38,970922,67,2,1,15,5.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790
39,596585,67,3,1,13,7.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790
40,2037087,67,4,2,9,8.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
41,2474111,67,5,3,14,8.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24,Regular customer,7.656790
42,1568481,67,6,3,12,7.0,False,196,2,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24,Regular customer,7.656790
43,2048527,67,8,2,11,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
44,2389031,67,9,2,14,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
45,2378562,67,10,1,10,6.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790
46,1515698,67,11,1,11,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790
47,1928050,67,12,2,12,8.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790
48,1949274,67,13,1,10,6.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790
49,551869,67,14,1,9,7.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790

In [17]:
# Creating spending flag column with loc()
ords_prods_merge.loc[ords_prods_merge['mean_prices'] < 10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_prices'] >= 10, 'spending_flag'] = 'Higher spender'

In [18]:
#Checking output
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender       31770614
Higher spender      634245
Name: count, dtype: int64

### In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
#### - If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#### - If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#### - If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [19]:
# Creating new column 'median_prior_order' by grouping users and aggregating 'days_since_prior_order' with transform()
ords_prods_merge['median_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
# Checking output
ords_prods_merge.head(50)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_prices,spending_flag,median_prior_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Least busy 2,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Least busy 2,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Least busy 1,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Least busy,Least busy 1,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,...,both,Mid-range product,Least busy,Least busy 1,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,22,Regular customer,3.980556,Low spender,10.0
15,2293453,19,2,5,14,6.0,False,196,3,0,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
16,1973799,19,5,6,12,8.0,False,196,15,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low spender,6.0
17,532817,19,7,4,17,6.0,False,196,1,1,...,both,Mid-range product,Least busy,Least busy 1,Average orders,9,New customer,8.372059,Low spender,6.0
18,1573906,21,10,3,10,6.0,False,196,2,0,...,both,Mid-range product,Regularly busy,Least busy 2,Most orders,33,Regular customer,7.012683,Low spender,7.5
19,1593000,31,10,3,8,7.0,False,196,17,0,...,both,Mid-range product,Regularly busy,Least busy 2,Average orders,20,Regular customer,8.137793,Low spender,6.0
20,2231262,31,17,3,11,8.0,False,196,14,1,...,both,Mid-range product,Regularly busy,Least busy 2,Most orders,20,Regular customer,8.137793,Low spender,6.0
21,2580647,43,6,4,16,4.0,False,196,9,0,...,both,Mid-range product,Least busy,Least busy 1,Most orders,11,Regular customer,7.444898,Low spender,10.0
22,2187180,43,9,4,12,3.0,False,196,1,1,...,both,Mid-range product,Least busy,Least busy 1,Most orders,11,Regular customer,7.444898,Low spender,10.0
23,2497897,52,1,1,9,NaN,True,196,4,0,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287,Low spender,8.0
24,1318871,52,2,1,10,7.0,False,196,5,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287,Low spender,8.0
25,1261384,52,3,1,10,7.0,False,196,3,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287,Low spender,8.0
26,580568,52,5,2,10,8.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0
27,2428073,52,7,2,7,8.0,False,196,5,1,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.0
28,342306,52,9,1,11,7.0,False,196,5,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287,Low spender,8.0
29,1520353,52,10,2,10,8.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0
30,2542086,52,11,2,9,7.0,False,196,3,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0
31,944694,52,12,1,16,6.0,False,196,7,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,27,Regular customer,6.356287,Low spender,8.0
32,1268191,52,15,2,11,8.0,False,196,3,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0
33,1122089,52,17,2,10,6.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0
34,1498922,52,18,2,10,14.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0
35,180919,52,19,3,8,8.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Least busy 2,Average orders,27,Regular customer,6.356287,Low spender,8.0
36,2695875,52,21,5,10,30.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0
37,3205960,67,1,3,11,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
38,970922,67,2,1,15,5.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
39,596585,67,3,1,13,7.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
40,2037087,67,4,2,9,8.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0
41,2474111,67,5,3,14,8.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
42,1568481,67,6,3,12,7.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Least busy 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
43,2048527,67,8,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0
44,2389031,67,9,2,14,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0
45,2378562,67,10,1,10,6.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
46,1515698,67,11,1,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
47,1928050,67,12,2,12,8.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0
48,1949274,67,13,1,10,6.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790,Low spender,7.0
49,551869,67,14,1,9,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest day 2,Most orders,24,Regular customer,7.656790,Low spender,7.0

In [21]:
# Creating 'order_frequency_flag' with loc()
ords_prods_merge.loc[ords_prods_merge['median_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_prior_order'] <= 20) & (ords_prods_merge['median_prior_order'] > 10), 'order_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [22]:
# Checking output
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

# 03. Exporting dataframe as pickle file

In [23]:
# Checking file before export
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_user_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge 1',
       'Unnamed: 0', 'product_name', 'aisle_id', 'department_id', 'prices',
       '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_prices',
       'spending_flag', 'median_prior_order', 'order_frequency_flag'],
      dtype='object')

In [24]:
# Export 'ords_prods_merge' as 'orders_products_updated_4_8.pkl'
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_updated_4_8a.pkl'))

In [25]:
# Checking file before export
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_user_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge 1',
       'Unnamed: 0', 'product_name', 'aisle_id', 'department_id', 'prices',
       '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_prices',
       'spending_flag', 'median_prior_order', 'order_frequency_flag'],
      dtype='object')

In [26]:
ords_prods_merge.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,aisle_id,department_id,prices,max_order,mean_prices,median_prior_order
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,30328763.0,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,32404854.0
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,NaN,2.559866e+04,8.352547e+00,5.895873e-01,2.560037e+04,7.119612e+01,9.919792e+00,1.198023e+01,3.305217e+01,1.198023e+01,NaN
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,0.0,1.408400e+04,7.127071e+00,4.919087e-01,1.408555e+04,3.821139e+01,6.281485e+00,4.956554e+02,2.515525e+01,8.324227e+01,0.0
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.0
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.0,1.354400e+04,3.000000e+00,0.000000e+00,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.387298e+00,6.0
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.0,2.530200e+04,6.000000e+00,1.000000e+00,2.530300e+04,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.824786e+00,8.0
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,15.0,3.794700e+04,1.100000e+01,1.000000e+00,3.795100e+04,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.254023e+00,13.0
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,30.0,4.968800e+04,1.450000e+02,1.000000e+00,4.969200e+04,1.340000e+02,2.100000e+01,9.999900e+04,9.900000e+01,2.500542e+04,30.0

In [27]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_user_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge 1',
       'Unnamed: 0', 'product_name', 'aisle_id', 'department_id', 'prices',
       '_merge', 'price_range_loc', 'busiest_day', 'busiest_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'mean_prices',
       'spending_flag', 'median_prior_order', 'order_frequency_flag'],
      dtype='object')

In [30]:
# Dropping '
ords_prods_merge.drop(columns = 'Unnamed: 0', inplace = True)

In [31]:
# Export 'ords_prods_merge' as 'orders_products_updated_4_8.pkl'
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_updated_4_8a.pkl'))

In [ ]:
# To determine whether there are any values above a certain threshold ($100) in the data
ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

In [1]:
#To turn values above 100 (outliers) into NaNs
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

NameError: name 'np' is not defined