# IC Data Combination and Merging

### 01. Importing Libraries and files
### 02. Preventing Memory Errors by Reducing Memory Usage
### 03. Merging Dataframes
### 04. Exporting Merged Dataframe in Pickle Format

# 01. Importing Libraries and files

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create folder path
path = r'C:\Users\ezrela\Documents\CareerFoundry\DD-MM-2020 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\ezrela\\Documents\\CareerFoundry\\DD-MM-2020 Instacart Basket Analysis'

In [5]:
# Import orders_checked.csv as df_ords, and orders_products_prior.csv as df_ords_prior
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [7]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# 02. Preventing Memory Errors by Reducing Memory Usage

In [8]:
# Drop unnecessary columns in df_ords to save memory
df_ords.drop(columns = {'Unnamed: 0.1', 'Unnamed: 0'}, inplace = True)

In [9]:
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [11]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   new_user_order          bool
dtypes: bool(1), float64(1), int64(5)
memory usage: 159.9 MB

In [13]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [15]:
# Change data types for df_ords
df_ords['order_id'] = df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number'] = df_ords['order_number'].astype('int8')
df_ords['order_day_of_week'] = df_ords['order_day_of_week'].astype('int8')
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('float16')

In [16]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   new_user_order          bool
dtypes: bool(1), float16(1), int32(2), int8(3)
memory usage: 45.7 MB

In [18]:
# Change data type of df_ords_prior
df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered'] = df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order'] = df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id'] = df_ords_prior['order_id'].astype('int32')

In [19]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

##### Checking to see the shapes of dataframes

In [20]:
df_ords.shape

(3421083, 7)

In [22]:
df_ords_prior.shape

(32434489, 4)

# 03. Merging Dataframes

In [24]:
# Merging df_ords and df_ords_prior
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [25]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_user_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [26]:
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   new_user_order          bool
 7   product_id              int32
 8   add_to_cart_order       int32
 9   reordered               int8
 10  _merge                  category
dtypes: bool(1), category(1), float16(1), int32(4), int8(4)
memory usage: 742.4 MB

# 04. Exporting Merged Dataframe in Pickle Format

In [29]:
# Export df_merged_large as order_products_combined.pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_products_combined.pkl'))